<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>육류</key>
	<array>
		<string>선물세트</string>
		<string>육가공</string>
		<string>유정란</string>
		<string>계란</string>
		<string>돼지고기 수육용</string>
		<string>돼지고기 돈가스용</string>
		<string>돼지고기 구이용</string>
		<string>요쿠르트</string>
		<string>치즈</string>
		<string>오리고기</string>
		<string>닭고기</string>
		<string>소고기 장조림용</string>
		<string>사골</string>
		<string>소고기 국거리용</string>
		<string>소고기 구이용</string>
	</array>
	<key>과일/견과</key>
	<array>
		<string>은행</string>
		<string>밤</string>
		<string>석류</string>
		<string>무화과</string>
		<string>복분자</string>
		<string>오디</string>
		<string>방울토마토</string>
		<string>배</string>
		<string>사과</string>
		<string>견과류</string>
		<string>잣</string>
		<string>호두</string>
		<string>땅콩</string>
		<string>반건시</string>
		<string>곶감</string>
		<string>황금향</string>
		<string>감</string>
		<string>한라봉</string>
		<string>천혜향</string>
		<string>대추</string>
		<string>블루베리</string>
		<string>감귤</string>
		<string>토마토</string>
		<string>참다래</string>
	</array>
	<key>채소/버섯</key>
	<array>
		<string>표고버섯</string>
		<string>파프리카</string>
		<string>마능</string>
		<string>가지</string>
		<string>오이</string>
		<string>단호박</string>
		<string>새송이버섯</string>
		<string>느타리버섯</string>
		<string>옥수수</string>
		<string>고추</string>
		<string>감자</string>
		<string>고구마</string>
		<string>마</string>
		<string>뿌리기타</string>
		<string>야콘</string>
		<string>더덕</string>
		<string>건나물</string>
		<string>나물류</string>
		<string>쌈채소</string>
		<string>절임배추</string>
	</array>
	<key>수산/건어/해조류</key>
	<array>
		<string>대하/새우</string>
		<string>전복</string>
		<string>꼬막</string>
		<string>해조류</string>
		<string>고등어</string>
		<string>갈치</string>
		<string>굴비</string>
		<string>박대</string>
		<string>조기</string>
		<string>옥돔</string>
		<string>전복</string>
		<string>조개류</string>
		<string>생선</string>
		<string>해산물</string>
		<string>김</string>
		<string>미역</string>
		<string>다시마</string>
		<string>멸치</string>
		<string>건어물</string>
		<string>게장</string>
		<string>선물세트</string>
		<string>기타</string>
	</array>
	<key>김치/장아찌</key>
	<array>
		<string>고추장</string>
		<string>된장</string>
		<string>메주</string>
		<string>간장</string>
		<string>두부</string>
		<string>청국장</string>
		<string>청국장 가루</string>
		<string>청국장 환</string>
		<string>식초</string>
		<string>조청</string>
		<string>고춧가루</string>
		<string>곡물가루</string>
		<string>참기름</string>
		<string>들기름</string>
		<string>기타기름</string>
		<string>소금</string>
	</array>
	<key>장류/양념/기름</key>
	<array/>
	<key>떡/간식/과즙/음료</key>
	<array>
		<string>전통떡</string>
		<string>전통한과</string>
		<string>과자</string>
		<string>누룽지</string>
		<string>전병</string>
		<string>엿</string>
		<string>초콜렛</string>
		<string>빵</string>
		<string>찐빵</string>
		<string>타르트</string>
		<string>만두</string>
		<string>만쥬</string>
		<string>즉석식품</string>
		<string>죽</string>
		<string>면류</string>
		<string>사과즙</string>
		<string>배즙</string>
		<string>토마토즙</string>
		<string>주스</string>
		<string>식혜</string>
		<string>두유</string>
		<string>액상차</string>
		<string>돼지감자차</string>
		<string>메밀차</string>
		<string>보리차</string>
		<string>구기자차</string>
		<string>기타</string>
	</array>
	<key>꿀/홍삼/건강식품</key>
	<array>
		<string>홍삼</string>
		<string>정과</string>
		<string>절편</string>
		<string>토종꿀</string>
		<string>아카시아꿀</string>
		<string>잡화꿀</string>
		<string>홍삼액</string>
		<string>홈삼정</string>
		<string>건강즙</string>
		<string>엑기스(원액)</string>
		<string>매실가공품</string>
		<string>산양삼</string>
		<string>건강즙</string>
	</array>
</dict>
</plist>
